.app_button {
  border-radius: 0;
  border: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  outline: 0;
  padding: 0;
  text-transform: uppercase;
  transition: transform 0.1s ease-out,
              background-color 0.1s ease-out,
              filter 0.1s ease-out;
}

.app_button:active {
  transform: perspective(1000px) rotate3D(-1, 1, 0, 15deg);
}

.app_button.primary {
  background-color: #83e5c7;
  color: #1f9370;
  text-shadow: 0 1px #eafbf6;
}

.app_button.primary:active {
  background-color: #7ee0c2;
}

.app_button.secondary {
  background-color: #ff9999;
  color: #cc0000;
  text-shadow: 0 1px #ffe6e6;
}

.app_button.secondary:active {
  background-color: #fa9494;
}

.app_button.tertiary {
  background-color: #ffda90;
  color: #cc8800;
  text-shadow: 0 1px #fff7e6;
}

.app_button.tertiary:active {
  background-color: #fad58b;
}

.app_button > .app_button_hint {
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease-out 0.5s;
}

.app_button:active > .app_button_hint {
  height: 40px;
}

.app_button:disabled {
  filter: opacity(80%);
}