html, body {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  background-color: #f8f3ec;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/Roboto/Roboto-Regular.ttf') format('truetype');
}