.loading_bar {
  background-color: #8ce2ec;
  overflow: hidden;
}

.loading_bar > .loading_bar_loader {
  background: #bdeff4;
  height: 100%;
  opacity: 0;
  width: 10%;
}

.loading_bar > .loading_bar_loader.loading_bar_mount {
  animation: loading_bar_slide 1.5s ease infinite;
  opacity: 1;
}

.loading_bar.critical {
  background-color: #ff9999;
}

.loading_bar.critical > .loading_bar_loader {
  background: #ffcccc;
}

@keyframes loading_bar_slide {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(1000%, 0);
  }
}