.notification {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #cc0000;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
}

.notification > .notification_icon_container {
  flex: 0;
  padding: 16px;
}

.notification > .notification_contents {
  flex: 1;
  padding: 16px 16px 16px 0;
}