.progress_bar {
  background-color: #8ce2ec;
  overflow: hidden;
}

.progress_bar > .progress_bar_loader {
  background: linear-gradient(to right, #8ce2ec 0%, #bdeff4 100%);
  height: 100%;
  opacity: 0;
  width: 30%;
}

.progress_bar > .progress_bar_loader.progress_bar_mount {
  animation: progress_bar_slide 1.5s linear infinite;
  opacity: 1;
}

.progress_bar.critical {
  background-color: #ff9999;
}

.progress_bar.critical > .progress_bar_loader {
  background: linear-gradient(to right, #ff9999 0%, #ffcccc 100%);
}

@keyframes progress_bar_slide {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(330%, 0);
  }
}