.toast {
  background-color: white;
  border-radius: 20px;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.toast > .toast_icon_container {
  flex: 0;
  padding: 16px;
}

.toast > .toast_icon_container > .toast_icon.toast_icon_info {
  color: #2e7a84;
}

.toast > .toast_icon_container > .toast_icon.toast_icon_warning {
  color: #cc8800;
}

.toast > .toast_icon_container > .toast_icon.toast_icon_error {
  color: #cc0000;
}

.toast > .toast_contents {
  color: #646464;
  flex: 1;
  padding: 16px 16px 16px 0;
}
